body {
  height: auto;
  width: 100%;
  padding: 10px;
  background-color: #171616;
  color: white;
}
/* Overview Page Start */
/* nav {
  border: 2px solid red;
} */
.master-container {
  width: 100%;
  height: 100%;
}
.profile-container {
  border: 2px solid red;
}
.left-container {
  width: 25%;
  height: auto;
}
.profile-container {
  margin: 16px 0;
  color: #fafafafa;
  padding: 10px;
  height: 100%;
  width: 100%;
}
.right-container {
  width: 100%;
  height: 100%;
  justify-content: end;
}
.data-container {
  padding: 0 !important;
  height: auto;
}
.form-container {
  height: 40%;
}
.dino-logo {
  height: 250px;
  width: 300px;
  border-radius: 50%;
  margin: 20px 0 30px 28px;
  cursor: pointer;
}
.btn-group {
  width: 100%;
}
.profile-btn {
  background-color: #b0abab;
  width: 10% !important;
}
.profile-links {
  padding: 0;
  margin: 30px 0 0 0;
  height: auto;
}
.profile-links li {
  list-style: none;
  margin: 0;
  height: auto;
  line-height: 2;
}
.icon-image {
  margin: 0 10px;
  width: 15px;
  height: 15px;
}
#pinnedRepos {
  padding: 50px;
}
.pinned-repo-card {
  width: 48%;
}
.tag-checkboxes {
  display: flex;
  flex-direction: row;
  max-height: 125px;
}
.form-check {
  margin: 0 10px;
  width: auto;
}
.checkbox-container {
  display: flex;
  flex-direction: row;
  width: auto;
}
.hidden {
  display: none;
}
.delete-btn {
  margin-left: auto;
}
.about-me {
  border-radius: 5px;
  border: 1px darkslategrey solid;
}
.aboutme-bottom {
  width: 60%;
}
a {
  text-decoration: none;
}
.aboutme-background-image-container {
  border: solid 1px red;
  width: 100%;
  height: 20em;
  background-image: url("./hunter_v1.0.jpg");
  background-position: right;
  background-repeat: no-repeat;
}

.navbar {
  background-color: #212020;
  color: #b0abab;
}

.nav-link{
  color: #b0abab; 
}

.profile-container {
  background-color: #212020;
  color: white;
}

.card-header {
  background-color: #212020;
  color: #1ea0f7;
}

.card-body {
  background-color: #212020;
  color: #b0abab;
}

.repo-btn {
  background-color: #212020;
  color: #1ea0f7;
}

.card-body button {
  background-color: #212020;
  color: #1ea0f7;
}
.star {
  cursor: pointer;
  color: gold;
}
/* Projects Page search and sort */
.search-container {
  position: relative;
}
.form-control {
  width: 100%;
}
.material-icons {
  position: absolute;
  color: #1ea0f7;
  right: 0;
}
/* Overview Page End */
footer {
  margin: 40px 0;
}
