body {
  height: auto;
  width: 100%;
  padding: 10px;
  background-color: #ffebcd;
}
/* Overview Page Start */
nav {
}
.master-container {
  width: 100%;
  height: 100%;
}
.profile-container {
}
.left-container {
  width: 20%;
  height: auto;
}
.profile-container {
  margin: 16px 0;
  color: #fafafafa;
  padding: 10px;
  height: 100%;
  width: 100%;
}
.right-container {
  width: 100%;
  height: 100%;
  justify-content: end;
}
.data-container {
  padding: 0 !important;
  height: auto;
}
.form-container {
  height: 40%;
}
.dino-logo {
  background-color: cornsilk;
  height: 250px;
  width: 90%;
  border-radius: 50%;
  margin: auto;
  cursor: pointer;
}
.btn-group {
  width: 100%;
}
.profile-btn {
  background-color: rgb(68, 175, 149);
  width: 10% !important;
}
.profile-links {
  padding: 0;
  margin: 30px 0 0 0;
  height: auto;
}
.profile-links li {
  list-style: none;
  margin: 0;
  height: auto;
  line-height: 1;
  padding: 10px;
}
.icon-image {
  color: white;
  margin: 0 10px;
  width: 15px;
  height: 15px;
}
#pinnedRepos {
  padding: 50px;
}
.pinned-repo-card {
  width: 48%;
}
.tag-checkboxes {
  display: flex;
  flex-direction: row;
  max-height: 125px;
}
.form-check {
  margin: 0 10px;
  width: auto;
}
.checkbox-container {
  display: flex;
  flex-direction: row;
  width: auto;
}
.hidden {
  display: none;
}
.delete-btn {
  margin-left: auto;
}
.about-me {
  border-radius: 5px;
  border: 1px darkslategrey solid;
}
.aboutme-bottom {
  width: 60%;
}
a {
  text-decoration: none;
}
.aboutme-background-image-container {
  border: solid 1px red;
  width: 100%;
  height: 20em;
  background-image: url("./hunter_v1.0.jpg");
  background-position: right;
  background-repeat: no-repeat;
}
.material-icons-profile {
  font-size: 18px;
  margin-right: 5px;

}
/* Overview Page End */
footer {
  margin: 40px 0;
}
