body {
  height: auto;
  width: 100%;
  padding: 10px;
  background-color: #ffebcd;
}
/* Overview Page Start */
nav {
  border: 2px solid red;
}
.master-container {
  width: 100%;
  height: 100%;
}
.profile-container {
  border: 2px solid red;
}
.left-container {
  width: 25%;
  height:auto;
}
.profile-container {
  margin: 16px 0;
  color: #fafafafa;
  padding: 10px;
  height: 100%;
  width: 100%;
}
.right-container {
  width: 100%;
  height: 100%;
  justify-content: end;
}
.data-container {
  padding: 0 !important;
  height: auto;
}
.form-container {
  height: 40%;
}
.dino-logo {
  border-radius: 50%;
}
.btn-group {
  width: 100%;
}
.profile-btn {
  background-color: rgb(68, 175, 149);
  width: 10% !important;
}
.profile-links {
  padding: 0;
  margin: 30px 0 0 0;
  height: auto;
}
.profile-links li {
  list-style: none;
  margin: 0;
  height: auto;
  line-height: 2;
}
.icon-image {
  margin: 0 10px;
  width: 15px;
  height: 15px;
}
#pinnedRepos {
  padding: 50px;
}
.pinned-repo-card {
  width: 48%;
}
.tag-checkboxes {
  display: flex;
  flex-direction: row;
  max-height: 125px;
}
.form-check {
  margin: 0 10px;
  width: auto;
}
.checkbox-container {
  display: flex;
  flex-direction: row;
  width: auto;
}
.hidden {
  display: none;
}

/* Overview Page End */
footer {
  margin: 40px 0;
}
